    /* font-family: "Roboto", sans-serif;

     font-family: "Roboto", sans-serif;
 
     font-family: "PT Serif", serif;
 
     font-family: "Playfair Display", serif; */
    :root{
        --header-background: rgba(1, 45, 99, 1);
        --main-text: rgba(255, 255, 255, 1);
        --second-text: rgba(220, 220, 220, 1);
        --button-border: rgba(142, 50, 198, 1);
        --placeholder: rgba(149, 149, 149, 1);
        --footer-line: rgba(155, 155, 155, 1);
        --background-footer:rgba(2, 22, 53, 1);
        --numbers-color: rgba(216, 216, 216, 1);
    }
    .header{
        background-color: var(--header-background);
        padding-top: 16px;
        padding-bottom: 14px;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation-list{
        display: flex;
    }
    .navigation-item{
        margin-right: 20px;
        font-size: 24px;
    }
    .navigation-link{
        color: var(--second-text);
    }
    .navigation-link:hover,
    .navigation-link:focus{
     color: var(--main-text);
    }
    .language{
        display: flex;
        font-size: 24px;
    }
    .language-link{
        color: var(--second-text);
        margin-right: 20px;
    }
    .language-link:hover,
    .language-link:focus{
     color: var(--main-text);
    }
    .main-page{
        padding-top: 94px;
        padding-bottom: 183px;
        background-image: url(../img/main.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .third-title{
        font-size: 48px;
        color: var(--main-text);
        font-family: "PT Serif", serif;
        margin-top: -20px;
        font-weight: lighter;
    }
    .main-title{
        font-size: 144px;
        color: var(--main-text);
        font-family: "Playfair Display", serif;
        font-weight: lighter;
    }
    .second-title{
        font-size: 72px;
        color: var(--main-text);
        font-family: "Playfair Display", serif;
        font-weight: lighter;
    }
    .paragraph{
        font-size: 18px;
        color: var(--main-text);
        margin-bottom: 41px;
        margin-top: 12px;
        font-weight: lighter;
    }
    .main-btn{
        width: 254px;
        height: 67px;
        background-color: var(--button-border);
        border: none;
        border-radius: 10px;
        font-size: 24px;
        color: var(--main-text);
        cursor: pointer;
    }
    
    .benefits{
        padding-top: 105px;
        padding-bottom: 105px;
        background-image: url(../img/background-one.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .benefits-list{
        display: flex;
        border: 5px solid var(--button-border);
        justify-content: space-between;
    }
    .benefits-text{
        text-align: center;
        font-size: 36px;
        color: var(--main-text);
        font-family: "Playfair Display", serif;
        font-weight: lighter;
    }
    .benefits-item{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 50px;
        margin-right: 50px;

    }
    .benefits-item:nth-child(2){
        border-left: 1px solid var(--main-text);
        border-right: 1px solid var(--main-text);
        padding-left: 95px;
        padding-right: 95px;
    }
    .reviews{
        padding-top: 25px;
        padding-bottom: 115px;
        background-image: url(../img/leaf.webp), url(../img/background-two.jpg);
        background-position: bottom left, center;
        background-repeat: no-repeat;
        background-size: 270px, cover;
        border-top: 2px solid var(--main-text);
    }
    .reviews-title{
        font-family: "Playfair Display", serif;
        font-size: 48px;
        text-align: center;
        color: var(--main-text);
        margin-bottom: 24px;
        font-weight: lighter;
    }
    .cards-wrap{
        display: flex;
    }
    .reviews-list{
        display: flex;
        justify-content: space-evenly;
    }
    .reviews-item{
        padding-top: 49px;
        padding-bottom: 29px;
        width: 255px;
        border-radius: 15px;
    }
    .reviews-item:nth-child(1){
        background-image: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
        box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
    }
    .reviews-item:nth-child(2){
        background-image: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
        box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    }
    .reviews-item:nth-child(3){
        background-image: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
        box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
    }
    .reviews-title-first{
        color: var(--main-text);
        font-size: 24px;
        margin-left: 13px;
        font-weight: lighter;
    }
    .reviews-text-first{
        color: var(--numbers-color);
        margin-top: 8px;
        margin-bottom: 47px;
        margin-left: 13px;
    }
    .reviews-title-socond{
        color: var(--main-text);
        margin-left: 5px;
    }
    .reviews-text-socond{
        color: var(--numbers-color);
        font-size: 12px;
        margin-left: 5px;
    }
    .reviews-photo{
        margin-left: 13px;
    }
    .order{
        padding-top: 20px;
        padding-bottom: 37px;
        background-image: url(../img/background-three.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .order-title{
        font-size: 48px;
        font-family: "Playfair Display", serif;
        color: var(--main-text);
        text-align: center;
        margin-bottom: 30px;
        font-weight: lighter;
    }
    .form-input-one{
        display: block;
        width: 690px;
        height: 60px;
        border-radius: 50px;
        margin-bottom: 19px;
        font-size: 28px;
        padding-left: 25px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-input{
        display: block;
        border-radius: 50px;
        width: 580px;
        height: 50px;
        margin-bottom: 19px;
        font-size: 28px;
        padding-left: 25px;
    }
    .btn{
        width: 254px;
        height: 67px;
        background-color: var(--button-border);
        border: none;
        border-radius: 10px;
        font-size: 24px;
        color: var(--main-text);
        cursor: pointer;
    }
    .footer{
        padding-top: 45px;
        padding-bottom: 50px;
        background-color: var(--background-footer);
    }
    .first-div{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--footer-line);
    }
    .footer-text{
        color: var(--main-text);
        font-size: 24px;
        font-weight: lighter;
    }
    .question-item{
        margin-bottom: 10px;
    }
    .link-item{
        margin-bottom: 10px;
    }
    .footer-link{
        color: var(--main-text);
        font-size: 24px;
        font-weight: lighter;
    }
    .footer-link:hover,
    .footer-link:focus{
        color: var(--button-border);
    }
    .second-div{
        display: flex;
        justify-content: space-between;
    }
    .footer-paragraph{
        color: var(--main-text);
        font-size: 18px;
        margin-bottom: 7px;
    }
    .paragrafe-div{
        margin-top: 24px;
    }
    .third-title-footer{
        color: var(--main-text);
        font-size: 24px;
        font-family: "PT Serif", serif;
        margin-top: -10px;
        font-weight: lighter;
    }



