    /* font-family: "Roboto", sans-serif;

     font-family: "Roboto", sans-serif;
 
     font-family: "PT Serif", serif;
 
     font-family: "Playfair Display", serif; */
    :root{
        --header-background: rgba(1, 45, 99, 1);
        --main-text: rgba(255, 255, 255, 1);
        --second-text: rgba(220, 220, 220, 1);
        --button-border: rgba(142, 50, 198, 1);
        --placeholder: rgba(149, 149, 149, 1);
        --footer-line: rgba(155, 155, 155, 1);
    }
    .header{
        background-color: var(--header-background);
        padding-top: 16px;
        padding-bottom: 14px;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation-list{
        display: flex;
    }
    .navigation-item{
        margin-right: 20px;
        font-size: 24px;
    }
    .navigation-link{
        color: var(--second-text);
    }
    .navigation-link:hover,
    .navigation-link:focus{
    color: var(--main-text);
    }
    .language{
        display: flex;
        font-size: 24px;
    }
    .language-link{
        color: var(--second-text);
        margin-right: 20px;
    }
    .language:hover,
    .language:focus{
    color: var(--main-text);
    }
    .main-page{
        padding-top: 94px;
        padding-bottom: 183px;
        background-image: url(../img/main.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .third-title{
        font-size: 48px;
        color: var(--main-text);
        font-family: "PT Serif", serif;
        margin-top: -20px;

    }
    .main-title{
        font-size: 144px;
        color: var(--main-text);
        font-family: "Playfair Display", serif;
    }
    .second-title{
        font-size: 72px;
        color: var(--main-text);
        font-family: "Playfair Display", serif;
    }
    .paragraph{
        font-size: 18px;
        color: var(--main-text);
        margin-bottom: 41px;
        margin-top: 12px;
    }
    .main-btn{
        width: 254px;
        height: 67px;
        background-color: var(--button-border);
        border: none;
        border-radius: 10px;
        font-size: 24px;
        color: var(--main-text);
    }
    .benefits{
        padding-top: 105px;
        padding-bottom: 105px;
        background-image: url(../img/background-one.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .benefits-list{
        display: flex;
        border: 5px solid var(--button-border);
        justify-content: space-between;
    }
    .benefits-text{
        text-align: center;
        font-size: 36px;
        color: var(--main-text);
        font-family: "Playfair Display", serif;
    }
    .benefits-item{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .benefits-item:nth-child(2){
        border-left: 1px solid var(--main-text);
        border-right: 1px solid var(--main-text);
    }
    .reviews{
        padding-top: 25px;
        padding-bottom: 115px;
        background-image: url(../img/background-two.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    


